/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background Image with overlay */
body {
    font-family: "Poppins", system-ui;
    line-height: 1.6;
    color: #333;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                url('back.jpg'); /* Add the path to your coding image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.logo a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    margin-left: 1rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #f4f4f4;
}

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 2rem;
    background-color: rgba(255, 255, 255, 0.9); /* Slight transparency for main content */
    border-radius: 10px;
}

.hero {
    text-align: center;
    padding: 4rem 0;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal; */
    font-style: italic;
}

.hero h1 {
    font-size: 2.5rem;
    color: #333;
}

.hero p {
    font-size: 1.2rem;
    color: #666;
}

.content-section {
    margin-top: 3rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.about-text {
    flex: 2;
}

.about-photo {
    flex: 1;
    text-align: center;
}

.about-photo img {
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.interests-list {
    list-style-type: disc;
    margin-left: 20px;
    margin-top: 1rem;
}

.interests-list li {
    margin-bottom: 1rem;
    line-height: 1.6;
}

.interest-container {
    margin-top: 1rem;
}

footer {
    text-align: center;
    padding: 2rem 0;
    background-color: #333;
    color: #fff;
}

footer p {
    margin-top: 1rem;
}

.social-icons a {
    margin: 0 10px;
    font-size: 2rem;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #0073b1;
}

.social-icons a i {
    vertical-align: middle;
}
